<div class="image relative">
  <div class="text">
    <h2 class="top-header">CAREERS</h2>
  </div>
</div>

<div class="apply-container">

  <div class="apply-text-container">
    <h2>Apply Today</h2>
    <p>We’re always looking for more hard workers! Leave your information and resume and we’ll get back to you as soon
      as possible.</p>
  </div>

  <div class="apply-form-container">
    <div class="form-container">
      <form action="">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname">

        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phonenumber">

        <label for="phone">Email</label>
        <input type="email" id="email" name="email">

        <label for="subject">Tell us about you</label>
        <textarea id="subject" name="subject" style="height:150px"></textarea>

        <div style="display: flex; flex-direction: column">
          <label for="resume">Upload Your Resume</label>
          <input type="file" id="resume" name="resume">
        </div>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

</div>
