<div class="image relative">
  <div class="text">
    <h2 class="top-header">FIRE & SMOKE</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>FIRE DAMAGE</h1>
        <p>If your home becomes the result of a house fire, call JDH Construction for an immediate response. Our
          technicians
          will determine the full extent of the fire damage and take all of the right precautions in your fire
          restoration services, including structural support and board-ups as needed to keep intruders out. We are
          available 24/7.</p>
        <p>At JDH Construction, your home or business is our top priority so we make sure that all of your salvageable
          belongings are removed from the home safely. In addition, we will make sure that your home is taken care of
          and deodorized to the best of our ability.</p>
      </div>
    </div>


    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>SMOKE DAMAGE</h1>
        <p>Smoke damage left unaddressed can devastate your home and its contents, and the actual fire does not
          necessarily have to occur in the same room. For example, in the case of wildfires, homes and businesses have
          been completely ruined just from smoke while the buildings remained untouched by flames. We are available
          24/7.</p>
        <p>Smoke can act like an acid, and will eat away at different materials if left too long. It’s best to say that
          if a fire strikes your home, or if you live near an area where a wildfires has occurred, it’s crucial to act
          fast to reduce damages. Make sure to contact professional smoke damage restoration specialist, such as MJ
          Builders, who can assess the damage and create a custom mitigation plan to ensure your home is completely
          clear of fire related damages. We are available 24/7.</p>
      </div>
    </div>

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img src="../../../assets/images/fire-damage-service.jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(951) 378-2087</span></button>
</div>
