* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.content-text {
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 8%;
}

.head {
  font-family: 'Righteous', cursive;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: default;
}

.sub {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
}



.sub:hover {
  // border-bottom: 1px solid white;
  transition: .2s;
  box-shadow: 0 1px 0px 0px white;
}



.office-phone {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: .5rem;
  cursor: default;
}

.phone {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.contact {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: default;
}




.footer-bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.footer-bottomBar h2{
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: rgb(128,128,128);
  margin: 0;
  cursor: default;
}

.hale-productions {
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hale-productions:hover {
  color: white;
  transition: .7s
}

@media screen and (max-width: 700px) {
  .content-text {
    justify-content: space-between;
  }

  .section {
    margin: 0;
  }

  .footer-bottomBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-bottomBar h2{
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    color: rgb(128,128,128);
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .content-text {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .section {
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .head {
    margin-bottom: .3rem;
  }


}
