<div class="footer-container">

  <div class="footer-content">
    <div class="content-logo">
    </div>
    <div class="content-text">
      <div class="section">
        <h2 class="head">NAVIGATION</h2>
        <p class="sub" routerLink="/" routerLinkActive="active">Home</p>
        <p class="sub" routerLink="/about" routerLinkActive="active">About Us</p>
        <p class="sub" routerLink="/careers" routerLinkActive="active">Careers</p>
        <p class="sub">Warranties</p>
        <p class="sub">Get a Free Quote</p>
      </div>
      <div class="section">
        <h2 class="head">SERVICES</h2>
        <p class="sub" routerLink="/waterdmg" routerLinkActive="active">Water Damage</p>
        <p class="sub" routerLink="/firedmg" routerLinkActive="active">Fire Damage</p>
        <p class="sub" routerLink="/smokedmg" routerLinkActive="active">Smoke Damage</p>
        <p class="sub" routerLink="/biohazard" routerLinkActive="active">Biohazard</p>
        <p class="sub" routerLink="/moldremoval" routerLinkActive="active">Mold Removal</p>
        <p class="sub" routerLink="/commercial" routerLinkActive="active">Commercial</p>
      </div>


      <div class="section">
        <h2 class="contact">Get In Touch</h2>
        <p class="office-phone">Main Office:</p>
        <p class="phone">(951) 378-2087</p>

        <p class="office-phone">Email:</p>
        <p class="phone">info@jdhconstructionservices.com</p>
      </div>

    </div>
  </div>

  <div class="footer-bottomBar">
    <h2 class="footer-copy">JDHConstruction 2022 &copy; All Rights Reserved</h2>
    <h2 class="footer-privacy">Built by <span class="hale-productions">Hale Productions</span> | <span
        class="hale-productions">Privacy Policy</span></h2>
  </div>

</div>
