<div class="image relative">
  <div class="text">
    <h2 class="top-header">ABOUT US</h2>
  </div>
</div>

<div class="areas-container">
  <div class="areas-img">
    <img class="map-img" src="../../assets/images/mapimage.png" alt="">
  </div>

  <div class="areas-text">
    <h2 class="areas-head">Areas We Serve</h2>
    <div class="areas-sub">Serving Riverside County for years and years to come.</div>
    <div class="btn-container">
      <button class="contact-btn" routerLink="/contact" routerLinkActive="active">CONTACT US</button>
    </div>
  </div>
</div>

<div class="work-container">
  <h2>24-Hour Emergency Cleanup & Restoration</h2>
  <p class="margin-bot">JDH Construction is a water damage restoration company that provides emergency disaster cleanup
    and restoration
    services, day or night. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim et eum necessitatibus
    quisquam sunt, mollitia quibusdam id blanditiis magni distinctio dignissimos doloribus, illum aut numquam, rerum quo
    consequuntur nemo similique?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque exercitationem enim voluptatibus temporibus
    voluptate adipisci omnis quod assumenda cum maiores? Rerum, neque enim sed possimus iste reiciendis! Illum, aut non?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, natus. Autem labore et recusandae impedit facilis
    harum temporibus dolor minus fuga dicta eligendi modi soluta error eos, accusamus veniam? Ipsam.</p>
</div>



<app-quote-box></app-quote-box>
<!-- <img src="../../assets/images/mapimage.png" alt=""> -->
