<div class="image relative">
  <div class="text">
    <h2 class="top-header">ABOUT US</h2>
  </div>
</div>

<div class="areas-container">
  <div class="areas-img">
    <img class="map-img" src="../../assets/images/mapimage.png" alt="">
  </div>

  <div class="areas-text">
    <h2 class="areas-head">Areas We Serve</h2>
    <div class="areas-sub">Serving Riverside County for years and years to come.</div>
    <div class="btn-container">
      <button class="contact-btn">CONTACT US</button>
    </div>
  </div>
</div>

<!-- <img src="../../assets/images/mapimage.png" alt=""> -->
