<div class="image relative">
  <div class="text">
    <h2 class="top-header">ABOUT US</h2>
  </div>
</div>

<div class="areas-container">
  <div class="areas-img">
    <img class="map-img" src="../../assets/images/mapimage.png" alt="">
  </div>

  <div class="areas-text">
    <h2 class="areas-head">Areas We Serve</h2>
    <div class="areas-sub">Serving Riverside County for years and years to come.</div>
    <div class="btn-container">
      <button class="contact-btn" routerLink="/contact" routerLinkActive="active">CONTACT US</button>
    </div>
  </div>
</div>

<div class="work-container">
  <h2>24-Hour Emergency Cleanup & Restoration</h2>
  <p class="margin-bot">JDH Construction is a property damage restoration company that provides emergency disaster
    cleanup and restoration services, day or night. We specialize in properties that result in damage from water, fire,
    smoke, mold, weather, and many others. Our top priority is making sure that you get back your home that you had
    pre-disaster. Feel free to contact us anytime, 24/7, to get an assessment with one of our professional technicians.
  </p>
  <p>At JDH Construction, we know that your biggest concern is getting back into your home as fast and safely as
    possible. We work with our property owners to make sure they feel as comfortable as possible with the restoration
    services being provided.</p>
</div>



<app-quote-box></app-quote-box>
<!-- <img src="../../assets/images/mapimage.png" alt=""> -->
