<div class="image relative">
  <div class="text">
    <h2 class="top-header">MOLD</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>MOLD REMOVAL</h1>
        <p>Mold can eat away at materials like wallpaper, drywall, carpet, wooden studs in walls, ceiling tiles,
          floorboards, and other structures inside the home. Left unchecked, mold can cause damage great enough to lead
          to the collapse of ceilings, caving in of floorboards, and falling down of walls.</p>
        <p>With damages like this, you want to take it very seriously. Our technicians at JDH Construction will make
          sure to
          assess the property damages and plan to execute the mold. Contact us 24/7 to get ahead on your mold removal
          services.</p>
      </div>
    </div>


    <!-- <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>SMOKE DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta, velit veritatis beatae odio tempora,
          iste dolores ipsa temporibus quisquam ex blanditiis assumenda, perspiciatis consequatur quam repudiandae
          recusandae nam quod. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod non odit
          facere nemo, consectetur neque eaque, excepturi eius ad fugit voluptatem necessitatibus labore. Explicabo
          debitis quibusdam eligendi laboriosam recusandae.</p>
      </div>
    </div> -->

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img src="../../../assets/images/mold-removal-service.jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(951) 378-2087</span></button>
</div>
