<div class="image relative">
  <div class="text">
    <h2 class="top-header">BIOHAZARD</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>BIOHAZARD</h1>
        <p>If you have had a sewage issue, crime scene, infectious illness, or any other form of biohazards occur in
          your home or business, make sure to contact us. At MJ Builders, we are available 24/7 for your biohazard
          removal needs. We make sure to assess the damages and create a safe plan for removal. Following industry
          standards, we remove and dispose of the biohazard materials and items, as well as the affected parts of the
          home such as carpet or bedding which may have come in contact. Following the removal of the identified waste,
          we make sure your property is deodorized to its prior state.</p>
      </div>
    </div>


    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>SMOKE DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta, velit veritatis beatae odio tempora,
          iste dolores ipsa temporibus quisquam ex blanditiis assumenda, perspiciatis consequatur quam repudiandae
          recusandae nam quod. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod non odit
          facere nemo, consectetur neque eaque, excepturi eius ad fugit voluptatem necessitatibus labore. Explicabo
          debitis quibusdam eligendi laboriosam recusandae.</p>
      </div>
    </div>

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img src="../../../assets/images/fire-damage-service.jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(951) 378-2087</span></button>
</div>
