<div class="image relative">
  <div class="text">
    <h2 class="top-header">WATER & FLOOD</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>WATER DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta, velit veritatis beatae odio tempora,
          iste dolores ipsa temporibus quisquam ex blanditiis assumenda, perspiciatis consequatur quam repudiandae
          recusandae nam quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate beatae, iste libero
          vel
          ipsam fugit nesciunt laborum! Ipsa vel autem doloribus perspiciatis architecto, sit, voluptatibus, a
          consectetur
          possimus id optio?</p>
      </div>
    </div>


    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>FLOOD DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta, velit veritatis beatae odio tempora,
          iste dolores ipsa temporibus quisquam ex blanditiis assumenda, perspiciatis consequatur quam repudiandae
          recusandae nam quod. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod non odit
          facere nemo, consectetur neque eaque, excepturi eius ad fugit voluptatem necessitatibus labore. Explicabo
          debitis quibusdam eligendi laboriosam recusandae.</p>
      </div>
    </div>

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img src="../../../assets/images/fire-damage-service.jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(951) 378-2087</span></button>
</div>
