<div class="image relative">
  <div class="text">
    <h2 class="top-header">WATER & FLOOD</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>WATER DAMAGE</h1>
        <p>The average person tends to not understand the repercussions of water damage. When water enters a property,
          it usually results in mold growth and damage to the properties structure. When this happens, it is crucial
          that you reach out to a professional team to take care of your home.</p>
        <p>Call the team at JDH Construction if you experience water damage in your home as a result of floods, leaking
          faucets, severe weather, condensation from AC, washing machine, clogged gutters, blocked drains, or any other
          kind of water damage on your property or business. We are available 24/7.</p>
      </div>
    </div>


    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>FLOOD DAMAGE</h1>
        <p>After a flood, it is hard to notice lots of damages to your property such as frayed wires, buckling floors,
          foundation cracks, damage to drywall resulting in mold to form on the walls and framing, or swelling of the
          homes framing. Make sure to contact the professionals at MJ Builders if you experience any flood damage. We
          are available 24/7.</p>
      </div>
    </div>

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img src="../../../assets/images/waterImg.jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(951) 378-2087</span></button>
</div>
