// font-family: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}

.contact-bar {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(19,30,99);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.contact-bar h2 {
  font-size: 1rem;
  padding: .3rem 0;
  color: white;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.phone-icon {
  height: 12px;
  width: 12px;
  margin-left: 8px;
  margin-right: 3px;
  fill: rgb(155, 0, 0);
  cursor: pointer;
}

.home-img {
  width: 100%;
  filter: brightness(.8);
  width: 100%;
  overflow-x: hidden;
}


.relative {
  border-bottom: 1px solid black;
  position:relative;
  width: 100%;
  overflow-x: hidden;
}

// image text
.text {
  position: absolute;
  color: red;
  top: 0;
  margin-left: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.decor-line {
  margin-right: 1rem;
  margin-bottom: 3rem;
  height:400px;
  width: 3px;
  background-color: rgb(216, 0, 0);
}

.text-container {
  display: flex;
  flex-direction: column;
}

.main-text{
  // font-family: 'Oswald', sans-serif;
  font-family: 'Righteous', cursive;
  font-size:4rem;
  margin: 0;
  font-weight: 600;
  color: white;
}

.subtext {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(223, 27, 27);
}

.margin-bot {
  margin-bottom: 3.5rem;
}

.colored-text {
  // color: rgb(223, 27, 27);
  // color: rgb(0, 170, 255);
  color: white;
}



.location {
  font-size: 1.6rem;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.contact-btn {
  border-radius: 2rem;
  font-size: 1rem;
  // width: min-content;
  min-width: 150px;
  padding: 10px 30px;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid rgb(223, 27, 27);
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.contact-btn:hover {
  transition: .7s;
  transition-delay: .1s;
  margin-bottom: 5px;
  background-color: rgb(223, 27, 27);
}

.about-btn {
  border-radius: 2rem;
  // width: min-content;
  font-size: 1rem;
  min-width: 150px;
  padding: 10px 30px;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.about-btn:hover {
  transition: .7s;
  margin-bottom: 5px;
  background-color: white;
  color: grey;
  transition-delay: .1s;;

}

//////////////////////

.image {
  height: 650px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(19, 30, 99, 0.675) 40%, transparent 80%),
                    url('../../assets/images/newImg.jpg');
  // background-image: linear-gradient(to right, rgba(0, 0, 0, 0.257) 100%, transparent 100%),
  // url('../../assets/images/newImg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
}

// WHAT WE DO SECTION
////////////////////////////////////
.what-we-do-container {
  z-index: -2;
  width: 100%;
  height: 550px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.what-text {
  height: 350px;
  // flex: 1.5;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-right: 2.5%;
  margin: 0;
}

.horizontal-line {
  position: relative;
  bottom: 40px;
  right: 20px;
  height: 40px;
  width: 40px;
  z-index: -1;
  background-color:  rgb(0, 170, 255);
}

.img-line {
  width: 6px;
  height: 200px;
  background-color: rgb(223, 27, 27);
}

.what-head {
  // font-family: 'Oswald', sans-serif;
  font-family: 'Righteous', cursive;
  font-weight: 900;
  font-size: 4rem;
  margin: 0;
  margin-bottom: -1rem;
}

.what-subhead {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 1.5rem;
}

.informational-text {
  font-size: 1.15rem;
  font-family: 'Montserrat', sans-serif;
}

.what-we-img-container {
  display: flex;
}

.what-we-img-container img {
  object-fit: cover;
  height: 400px;
  width: 350px;
}

// services
.servicesImg {
  height: 900px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.583) 100%, transparent 100%),
                    url('../../assets/images/window-ge406914b0_1920.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
}


.servicesRelative {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position:relative;
  width: 100%;
  overflow-x: hidden;
}

.services-main-text{
  // font-family: 'Oswald', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 5rem;
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 600;
  color: white;
}
.services-main-subtext{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 4rem;
  color: white;
}

.space-bot {
  margin-bottom: 1.5rem;
}

.servicesText {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.servicesText-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.services-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.services-box {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(115,115,115);
  border-radius: 6%;
  background-color: rgba(0, 0, 0, 0.515);
  margin: 0 1rem;
}

.fire {
  background-image: url('../../assets/images/fireImg.jpg');
}

.commercial {
  background-image: url('../../assets/images/commercialImg.jpg');
}

.biohaz {
  background-image: url('../../assets/images/biohazIMG.jpg');
}

.smoke {
  background-image: url('../../assets/images/smokeImg.jpg');
}

.water {
  background-image: url('../../assets/images/waterImg.jpg');
}

.mold {
  background-image: url('../../assets/images/floodImg.jpg');
}

.invisible {
  visibility: hidden;
}

.box-img {
  width: 100%;
  height: 150px;
  // background-image: url('../../assets/images/chuttersnap-jp9JczGYMnY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 6%;
}



.box-content {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.service-title {
  color: white;
  font-size: 1.5rem;
  // font-family: 'Oswald', sans-serif;
  font-family: 'Righteous', cursive;
  padding-bottom: 1rem;
}

.service-learn {
  color: rgb(0, 170, 255);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.service-learn:hover {
  color: rgb(223, 27, 27);
}

// get a quote section
.quote-container {
  background-color: white;
  width: 100%;
}

.quote-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.quote-head {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

.quote-subtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.quote-btn-box {
  margin-bottom: 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.contact-us-btn{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  min-width: 150px;
  padding: 5px 30px;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  margin-right: 2rem;
}

.contact-us-btn:hover {
  transition: .7s;
  transition-delay: .1s;
  background-color: rgb(0, 0, 0);
  color: white;
}

.phone-btn{
  font-family: 'Oswald', sans-serif;
  color: rgb(223, 27, 27);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  min-width: 150px;
  padding: 5px 30px;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid rgb(223, 27, 27);
  cursor: pointer;
}

.phone-btn:hover {
  transition: .7s;
  transition-delay: .1s;
  background-color: rgb(223, 27, 27);
  color: white;
}

@media screen and (max-width: 830px) {

.main-text {
  font-size: 3.5rem;
}

.services-box-container {
  flex-direction: column;
  align-items: center;
}

.what-we-img-container {
  width: 100%;
  height: auto;
}

.services-main-text {
  text-align: center;
  font-size: 4rem;
}

.services-main-subtext {
  text-align: center;
}

.servicesImg {
  height: 2200px;
}

.services-box {
  margin: 0;
  margin: .5rem 0;
}

.space-bot {
  margin: 0;
}
}

// media queries
@media screen and (max-width: 750px) {

  .image {
    height: 550px;
  }

  .contact-bar h2 {
    font-size: 1rem;
  }

  .phone-icon {
    height: 10px;
    width: 10px;
  }

  .main-text{
    font-size: 3rem;
    font-weight: 600;
  }

  .subtext {
    font-size: 1.1rem;
    margin-bottom: .5rem;
  }

  .margin-bot {
    margin-bottom: 2rem;
  }

  .decor-line {
    height: 220px;
  }

  .contact-btn {
    min-width: 120px;
    padding: 8px 15px;
  }

  .about-btn {
    min-width: 120px;
    padding: 8px 15px;
  }

  .what-head {
    font-size: 2.5rem;
    margin-bottom: -1.5rem;
  }

  .what-subhead {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .what-text {
    height: 300px;
    width: 325px;
    padding-right: 2%;
  }

  .informational-text {
    font-size: .9rem;
  }

  .horizontal-line {
    bottom: 17px;
    right: 19px;
    height: 30px;
    width: 30px;
  }


}

// media queries
@media screen and (max-width: 630px) {
.text {
  margin: 0;
}

.what-header {
  text-align: center;
}

.what-paragraph {
  text-align: center;
}

.what-we-do-container {
  height: auto;
  flex-direction: column;
  align-items: normal;
  padding: 2rem;
}

.what-we-img-container img {
  // margin-right: 2rem;
}

.horizontal-line {
  bottom: 17px;
  right: -49px;
}

.quote-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.quote-head {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.quote-subtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0 1rem;
}

.quote-btn-box {
  margin-bottom: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.contact-us-btn{
  font-size: .9rem;
  min-width: 150px;
  padding: 5px 20px;
  margin-right: 1rem;
}

.phone-btn{
  font-size: .9rem;
  min-width: 150px;
  padding: 5px 20px;
}

.what-text {
  margin-bottom: 2rem;
}
}

// media queries
@media screen and (max-width: 550px) {

  .contact-bar h2 {
    font-size: .85rem;
  }

  .phone-icon {
    height: 12px;
    width: 12px;
    margin-left: 8px;
    margin-right: 3px;
    fill: rgb(155, 0, 0);
    cursor: pointer;
  }

  .home-img {
    width: 100%;
    filter: brightness(.8);
    overflow-x: hidden;
  }


  .relative {
    border-bottom: 1px solid black;
    position:relative;
    width: 100%;
    overflow-x: hidden;
  }

  // image text
  .text {
    margin-left: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .decor-line {
    margin-right: .8rem;
    margin-bottom: 3rem;
    height: 250px;
    width: 3px;
    background-color: rgb(216, 0, 0);
  }

  .main-text{
    font-size: 3rem;
    line-height: 50px;
    margin: 0;
    font-weight: 600;
    color: white;
  }

  .subtext {
    font-size: .9rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .margin-bot {
    margin-bottom: 0rem;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .contact-btn {
    font-size: .8rem;
    border-radius: 2rem;
    // width: min-content;
    min-width: 135px;
    padding: 8px 15px;
    white-space: nowrap;
    background-color: transparent;
    border: 2px solid rgb(223, 27, 27);
    color: white;
    margin-right: 1rem;
    cursor: pointer;
  }


  .about-btn {
    font-size: .8rem;
    border-radius: 2rem;
    // width: min-content;
    min-width: 135px;
    padding: 8px 15px;
    white-space: nowrap;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
  }

  .image {
    height: 450px;
  }




}

@media screen and (max-width: 590px) {

  .main-text {
    font-size: 2.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}
