// font-family: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-bar {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(19,30,99);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.contact-bar h2 {
  font-size: .85rem;
  color: white;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.phone-icon {
  height: 12px;
  width: 12px;
  margin-left: 8px;
  margin-right: 3px;
  fill: rgb(155, 0, 0);
}

.home-img {
  width: 100%;
  filter: brightness(.8);
  width: 100%;
  overflow-x: hidden;
}


.relative {
  position:relative;
  width: 100%;
  overflow-x: hidden;
}

// image text
.text {
  position: absolute;
  color: red;
  top: 0;
  margin-left: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.decor-line {
  margin-right: 1rem;
  margin-bottom: 3rem;
  height: 250px;
  width: 3px;
  background-color: rgb(216, 0, 0);
}

.text-container {
  display: flex;
  flex-direction: column;
}

.main-text{
  font-family: 'Oswald', sans-serif;
  font-size: 3.8rem;
  margin: 0;
  font-weight: 600;
  color: white;
}

.subtext {
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: rgb(223, 27, 27);
}

.margin-bot {
  margin-bottom: 2.5rem;
}

.colored-text {
  // color: rgb(223, 27, 27);
  // color: rgb(0, 170, 255);
  color: white;
}



.location {
  font-size: 1.6rem;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.contact-btn {
  border-radius: 2rem;
  // width: min-content;
  min-width: 130px;
  padding: 8px 25px;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid rgb(223, 27, 27);
  color: white;
  margin-right: 1rem;
}

.contact-btn:hover {
  transition: .4s;
  margin-bottom: 5px;
  background-color: rgb(223, 27, 27);
}

.about-btn {
  border-radius: 2rem;
  // width: min-content;
  min-width: 130px;
  padding: 8px 25px;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.about-btn:hover {
  transition: .4s;
  margin-bottom: 5px;
  background-color: white;
  color: grey;
}

//////////////////////

.image {
  height: 500px;
  width: 100%;
  // background-image: linear-gradient(to right, rgba(40, 69, 255, 0.659) 40%, transparent 80%),
  //                   url('../../assets/images/newimg.jpg');
  // background-image: linear-gradient(to right, rgba(19, 30, 99, 0.675) 10%, transparent 70%),
  //                   url('../../assets/images/newhomes.jpg');
  background-image: linear-gradient(to right, rgba(19, 30, 99, 0.675) 30%, transparent 70%),
                    url('../../assets/images/newimg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
}

// WHAT WE DO SECTION
////////////////////////////////////
.what-we-do-container {
  width: 100%;
  height: 450px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.what-text {
  height: 300px;
  // flex: 1.5;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 2.5%;
  margin: 0;
}

.horizontal-line {
  position: relative;
  bottom: 40px;
  right: 20px;
  height: 40px;
  width: 40px;
  z-index: -1;
  background-color:  rgb(0, 170, 255);
}

.img-line {
  width: 6px;
  height: 200px;
  background-color: rgb(223, 27, 27);
}

.what-head {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  margin-bottom: -1rem;
}

.what-subhead {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  line-height: 20px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 1rem;
}

.informational-text {
    font-family: 'Montserrat', sans-serif;
}

.what-we-img-container {
  display: flex;
}

.what-we-img-container img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}
