<div class="contact-bar">
  <h2>RESIDENTIAL & COMMERCIAL RESTORATION SERVICES <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512">

      <path
        d="M18.92 351.2l108.5-46.52c12.78-5.531 27.77-1.801 36.45 8.98l44.09 53.82c69.25-34 125.5-90.31 159.5-159.5l-53.81-44.04c-10.75-8.781-14.41-23.69-8.974-36.47l46.51-108.5c6.094-13.91 21.1-21.52 35.79-18.11l100.8 23.25c14.25 3.25 24.22 15.8 24.22 30.46c0 252.3-205.2 457.5-457.5 457.5c-14.67 0-27.18-9.968-30.45-24.22l-23.25-100.8C-2.571 372.4 5.018 357.2 18.92 351.2z" />
    </svg> <a style="cursor: pointer; color: white;  text-decoration: none;" href="tel:951-378-2087">951-378-2087</a>
  </h2>
  <!-- <h2>DAY OR NIGHT IMMEDIATE RESPONSE <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">

      <path
        d="M18.92 351.2l108.5-46.52c12.78-5.531 27.77-1.801 36.45 8.98l44.09 53.82c69.25-34 125.5-90.31 159.5-159.5l-53.81-44.04c-10.75-8.781-14.41-23.69-8.974-36.47l46.51-108.5c6.094-13.91 21.1-21.52 35.79-18.11l100.8 23.25c14.25 3.25 24.22 15.8 24.22 30.46c0 252.3-205.2 457.5-457.5 457.5c-14.67 0-27.18-9.968-30.45-24.22l-23.25-100.8C-2.571 372.4 5.018 357.2 18.92 351.2z" />
    </svg>951-378-2087</h2> -->
</div>
<div class="image relative">
  <div class="text">
    <div class="decor-line"></div>
    <div class="text-container">
      <h2 class="main-text margin-bot colored-text">DAY OR NIGHT</h2>
      <h2 class="main-text colored-text margin-bot">FIRE WATER & MOLD</h2>
      <h2 class="main-text colored-text">RESTORATION SERVICES</h2>
      <h2 class="subtext">24/7 FIRE WATER & MOLD CLEANUP</h2>
      <div class="button-container">
        <button class="contact-btn">CONTACT US</button>
        <button class="about-btn">ABOUT US</button>
      </div>
    </div>
  </div>
</div>
<!-- <img class="home-img" src="../../assets/images/chuttersnap-jp9JczGYMnY-unsplash.jpg" alt=""> -->
<!-- <img src="../../assets/images/filtergrade-4T4AcGJvARQ-unsplash.jpg" alt="" class="home-img"> -->
<div class="what-we-do-container">

  <div class="what-text">

    <div class="what-header">
      <h2 class="what-head">What We Do</h2>
      <div class="horizontal-line"></div>
      <h2 class="what-subhead">We provide 24/7 Water Fire & Mold emergency disaster cleanup and restoration services.
      </h2>
    </div>
    <div class="what-paragraph">
      <p class="informational-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ut voluptatum
        maiores necessitatibus praesentium doloribus blanditiis fugiat libero natus, magni quia facere, corporis
        nostrum! Sapiente, sed suscipit. Numquam, dignissimos. Dolores!
      </p>
      <p class="informational-text">Our crew is passionate about providing superior results for all of our clients.</p>
    </div>
  </div>


  <div class="what-we-img-container">
    <div class="img-line"></div>
    <img src="../../assets/images/dawid-labno-Wd-wYJ9PFy8-unsplash.jpg" alt="">
  </div>
</div>
