<div class="quote-container" style="width: 100%">
  <div class="quote-text-box">
    <h2 class="quote-head">Get a Quote Today</h2>
    <p class="quote-subtext">We provide water damage services and fire damage restoration throughout riverside county.
    </p>
    <p class="quote-subtext">Contact us today to find out how easy it is to get started.</p>
  </div>
  <div class="quote-btn-box">
    <button class="contact-us-btn">GET A FREE QUOTE</button>
    <button class="phone-btn">(951) 378-2087</button>
  </div>
</div>
